20_EGSL/*.*
100_Sandpit/*.*
90_GSL_exe/*.*
working/*.*
04_Estimation/01_QKNA/working/gamv_hz.out
04_Estimation/01_QKNA/working/gamv_hz.par
04_Estimation/01_QKNA/working/gamv_vt.out
04_Estimation/01_QKNA/working/gamv_vt.par
04_Estimation/01_QKNA/working/gamv.out
04_Estimation/01_QKNA/working/gamv2004.exe
04_Estimation/01_QKNA/working/gamv2004.par
04_Estimation/01_QKNA/working/samples.dat
04_Estimation/01_QKNA/working/varfit.dbg
04_Estimation/01_QKNA/working/varfit.exe
04_Estimation/01_QKNA/working/varfit.par
04_Estimation/01_QKNA/working/varfit.ps
04_Estimation/01_QKNA/working/varfit.var
