.quarto-title-block .quarto-title-banner {
    background-image: url(pygeologist_v1.jpeg);
    background-size: 200px;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 15px;
    background-origin: content-box;
  }